.orgs {
  background-color: white;
  padding: 32px 24px;
  min-height: 504px;
}

.orgs__title {
  font-size: 14px;
  line-height: 188.55%;
  font-weight: normal;
  margin: 0 0 3px;
  width: fit-content;
}

.orgs__no-results {
  padding-top: 48px;
  display: flex;
}

.orgs__add-org-icon {
  width: 68px;
  height: 68px;
}

.orgs__add-org-text {
  font-size: 14px;
  line-height: 140%;
  color: #777777;
  margin-left: 32px;
  max-width: 315px;
}

@media screen and (max-width: 460px) {
  .orgs {
    padding: 28px 18px 75px;
  }
}

@media screen and (max-width: 375px) {
  .orgs__no-results {
    flex-direction: column;
    align-items: center;
  }

  .orgs__add-org-text {
    margin-left: 0;
    text-align: center;
  }
}
