.navigation {
  display: flex;
  margin-top: 32px;
}

.navigation__link {
  text-decoration: none;
  font-size: 12px;
  line-height: 149.37%;
  padding: 8px 24px 11px;
  color: #B9B9B9;
  font-weight: bold;
}

.navigation__link_active {
  border-top: 2px solid #F50634;
  box-sizing: border-box;
  background-color: white;
  color: #2B2829;
}
