.orgs__search {
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 3px;
  width: 688px;
  height: 46px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 188.55%;
  color: #777777;
}

.orgs__search:focus {
  border-color: black;
  outline: none;
}

.orgs__search::placeholder {
  color: #B9B9B9;
}

.orgs__suggestions {
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 0 0 3px 3px;
  position: fixed;
  background-color: white;
  width: 688px;
  padding-top: 17px;
}

@media screen and (max-width: 768px) {
  .orgs__search {
    width: 602px;
  }

  .orgs__suggestions {
    width: 602px;
  }
}

@media screen and (max-width: 650px) {
  .orgs__search {
    width: calc(100vw - 36px);
  }

  .orgs__suggestions {
    width: calc(100vw - 36px);
  }
}
